/* resetting margins and paddings to ensure consistency accross browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  border: none;
}

button {
  border: none;
}

/* defining root variables */
:root {
  /* defifning font weights as varibles */
  --small-font: 400;

  /* defining colors as variables */
  --clear-white: #fff;
  --deep-grey: rgb(44, 52, 75);
  --deep-purple: rgb(18, 23, 37);
  --light-grey: rgb(90, 102, 138);
  --lemon-green: rgb(84, 230, 175);
  --almost-blue: rgb(194, 203, 229);
  --almost-white: rgb(255, 255, 255);
}

/* styling the browser's body */
body {
  font-family: "Chivo", sans-serif;
  background-color: var(--deep-purple);
}

#hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url(assets/desktop/image-host.jpg);
  background-size: 62% 71%;
  background-position: right;
  background-repeat: no-repeat;
}

.logobox {
  top: 11.34%;
  left: 11.45%;
  height: 6.2%;
  width: 9.36%;
  display: flex;
  position: absolute;
}

.logo-image {
  width: 100%;
  height: 100%;
}

.textbox {
  z-index: 1;
  top: 28.99%;
  left: 11.45%;
  width: 50.2%;
  display: flex;
  height: 56.55%;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--deep-purple);
}

.heading {
  width: 91.98%;
  line-height: 1.1;
  font-size: 3.61vw;
  margin-top: 5.28%;
  /* margin-bottom: 4.71%; */
  color: var(--lemon-green);
  text-transform: uppercase;
  font-weight: var(--small-font);
}

.heading-white-text {
  color: var(--clear-white);
}

.small-text {
  width: 61.55%;
  line-height: 1.56;
  font-size: 1.25vw;
  /* margin-bottom: 7.85%; */
  color: var(--almost-blue);
  font-weight: var(--small-font);
}

.desktop-form-container {
  height: 11%;
  width: 59.05%;
  /* margin-bottom: 12.57%; */
}

.desktop-form-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.email-input {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  border-radius: 1.75rem;
  color: var(--clear-white);
  background-color: var(--deep-grey);
}

.desktop-form-btn {
  right: 0;
  height: 100%;
  width: 37.93%;
  cursor: pointer;
  font-size: 0.97vw;
  position: absolute;
  border-radius: 1.75rem;
  color: var(--deep-purple);
  font-weight: var(--small-font);
  background-color: var(--lemon-green);
}

.supporting-brands {
  display: flex;
  width: 74.14%;
  height: 5.69%;
  justify-content: space-between;
}

.brand {
  width: 6.6vw;
  height: 100%;
  display: flex;
  position: relative;
}

.brand img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: center;
}

.mobile-form-container {
  display: none;
}

.dotted-pattern-box {
  top: 79.78%;
  left: 83.88%;
  width: 16.11%;
  display: flex;
  height: 11.55%;
  position: relative;
}

.dotted-pattern-box img {
  width: 100%;
  height: 100%;
  object-fit: center;
  position: absolute;
}


/* Responsiveness styling using media queries */
@media screen and (max-width: 900px) {
  /* resizing the hero section to optimize viewing on mobile screens */
  #hero {
    background: url(assets/tablet/image-host.jpg);
    background-size: 63.93% 74.90%;
    background-position: right top;
    background-repeat: no-repeat;
  }

  /* resizing the logobox to optimize viewing on mobile screens */
  .logobox {
    top: 4.875%;
    left: 5.08%;
    height: 6.2%;
    width: 17.558%;
  }

  /* resizing the textbox to optimize viewing on mobile screens */
  .textbox {
    left: 5.08%;
    top: 25.1875%;
    width: 82.68%;
    display: flex;
    height: 49.70%;
  }

  /* resizing the heading text to optimize viewing on mobile screens */
  .heading {
    width: 100%;
    font-size: 6.25vw;
    margin-top: 5.81%;
    line-height: 1.166;
  }

  /* resizing the small text to optimize viewing on mobile screens */
  .small-text {
    width: 61.55%;
    font-size: 2.60vw;
    line-height: 1.555;
  }

  /* resizing the input form to optimize viewing on mobile screens */
  .desktop-form-container {
    height: 11%;
    width: 67.244%;
  }

  /* resizing the form button to optimize viewing on mobile screens */
  .desktop-form-btn {
    width: 37.93%;
    font-size: 1.822vw;
    border-radius: 1.75rem;
  }

  /* resizing the supporting-brands box to otpimize viewing on mobile screens */
  .supporting-brands {
    width: 84.409%;
    height: 5.697%;
  }

  /* resizing the supporting brands to optimize viewing on mobile screens */
  .brand {
    width: 16vw;
  }

  /* resizing the doted pattern box to optimize viewing on smaller mobile screens */
  .dotted-pattern-box {
    top: 89.84%;
    left: 5.08%;
    width: 30.208%;
    height: 10.156%;
  }
}

@media screen and (max-width: 450px) {
  /* resizing the hero section to optimize viewing on mobile phones */
  #hero {
    background-image: url(assets/mobile/image-host.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* resizing the logobox to optimize viewing on mobile phones */
  .logobox {
    left: 50%;
    top: 9.307%;
    width: 35.96%;
    height: 8.395%;
    margin-left: -17.98%;
  }

  /* resizing the textbox to optimize viewing on mobile phones */
  .textbox {
    left: 50%;
    width: 87.2%;
    height: 59.670%;
    margin-top: 8.539%;
    text-align: center;
    margin-left: -43.6%;
    background: none;
  }

  /* resizing the heading text to optimize viewing on mobile phones */
  .heading {
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    line-height: 1.465;
    font-size: 6.933vw;
  }

  /* resizing the small text to optimize viewing on mmobile phones */
  .small-text {
    width: 100%;
    font-size: 4vw;
    line-height: 1.666;
  }

  /* setting the desktop form container to not display on mobile phones */
  .desktop-form-container {
    display: none;
  }

  /* styling the form container to optimize viewing on mobile phones */
  .mobile-form-container {
    width: 100%;
    display: block;
    height: 27.135%;
  }

  /* stylng the form element to optimize viewing on mobile phones */
  .mobile-form-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* styling the email input and mobile form button of the email form field */
  .email-input, .mobile-form-btn {
    width: 100%;
    height: 42.59%;
    border-radius: 1.75rem;
    font-weight: var(--small-font);
  }

  /* styling the input form to optimize viewing on mobile phones */
  .email-input {
    padding-left: 1rem;
    color: var(--clear-white);
    background-color: var(--deep-grey);
  }

  /* styling the form button to optimize viewing on mobile phones */
  .mobile-form-btn {
    color: var(--deep-purple);
    background-color: var(--lemon-green);
  }

  /* resizing the sponsorship brands to optimize viewing on mobile screens */
  .supporting-brands {
    width: 100%;
  }

  /* setting the dotted patterns box to not display on mobile screens */
  .dotted-pattern-box {
    display: none;
  }
}